@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>

<div class="form-group">
    @Html.ActionLink("New Movie", "New", null, new { @class = "btn btn-primary" })
</div>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th style="width: 42%">Movie</th>
        <th style="width: 42%">Genre</th>
        <th style="width: 16%">Actions</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var movie in Model)
    {
        <tr>
            <td>@Html.ActionLink(@movie.Name, "Details", new { id = @movie.Id }, null)</td>
            <td>@movie.Genre.Name</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = @movie.Id}, new {@class = "btn btn-secondary"})
                @using (
                    Html.BeginForm(
                        "Delete", 
                        "Movies", 
                        new { id = movie.Id }, 
                        FormMethod.Post, 
                        new { style = "display: inline" }
                    )
                )
                {
                    <button type="submit" class="btn btn-danger">Delete</button>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
